.icon-pseudo {
    content: '';
    background: {
    repeat: no-repeat;
    }
}

.icon-centered {
    text-align: center;
    &:after {
        display: inline-block;
        vertical-align: middle;
    }
}

{{#items}}
@mixin i-{{slug}}($scale: false) {

    @if $scale {
        height: {{height}}px*$scale;
        width: {{width}}px*$scale;
        background-size: {{width}}px*$scale {{height}}px*$scale;
    }
    @extend .i-{{slug}};
}

.i-{{slug}} {
    background-image: url('{{{datauri}}}');
    height: {{height}}px;
    width: {{width}}px;
    background-size: {{width}}px {{height}}px;
}

//icon-centered
.ic-{{slug}} {
    @extend .icon-centered;
    &:after {
        @extend .i-{{slug}};
        @extend .icon-pseudo;
    }
}

{{/items}}