{% set postWrap = true %}

<ul class="feed">
    {% block content %}
    <li class="feed_item post">{% include 'post--poll-text--results.twig' %}</li>
    <li class="feed_item post">{% include 'post--poll-blocks.twig' %}</li>
    <li class="feed_item post">{% include 'post--poll-image--results.twig' %}</li>
    <li class="feed_item post">{% include 'post--poll-image.twig' %}</li>
    <li class="feed_item post">{% include 'post--poll-text.twig' %}</li>
    <li class="feed_item post">{% include 'post--figure.twig' %}</li>
    <li class="feed_item post">{% include 'post--mosaic-6.twig' %}</li>
    {% endblock %}
</ul>