<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=0">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <title>{{title}}</title>

    <link rel="stylesheet" href="app/theme/styles/_/main.css">

</head>

<body >

<div id="wrap">

<header id="region-header">
{% block header %}
    <div class="primary-header"></div>
    <div class="secondary-header"></div>
{% endblock %}
</header>

<main id="region-main">
{% block main %}
    <div id="region-aside">{% block aside %}{% endblock %}</div>
    <div id="region-content">{% block content %}{% endblock %}</div>
{% endblock %}
</main>

</div>

{% block modal %}
{% endblock %}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>

    $("#create-button").click(function(e){
        $("body").addClass("modal-open");
    });
    $(".modal").click(function(e){
        if(!$(e.target).hasClass("modal")) return;
        $("body").removeClass("modal-open");
    });


    $(".select-waiting label").click(function(e){
        var that = this;
        setTimeout(function() {
            $(that).parents(".select-waiting").addClass("select-waiting--done");
        }, 0)
    });

    $(".button").click(function(e){
        $(this).toggleClass("button--active");
    });

    //set width of result line
    $(".poll_variant").each(function(){
        var res = $(this).attr("result");
        $(this).find(".poll_variant_result-line").css("width", res + "%");
        $(this).find(".poll_variant_result").html(res);
    });

    $(window).load(function(){

        //for text polls additionally set min-width of .poll_variant_content
        $(".poll--type-text.poll--results .poll_variant_content, .poll--type-yes-no.poll--results .poll_variant_content").each(function(){
            $(this).css("width", $(this).parent().attr("result") + "%");
            var w1 = $(this).find(".poll_variant_name").outerWidth(true);
            var w2 = $(this).find(".poll_variant_result").outerWidth(true);
            $(this).css("min-width", w1+w2+"px");
        });

    });

    //Фиксируем ширину контента, чтобы исключить влияние скроллбара
    document.getElementById("wrap").style.width = window.innerWidth - getScrollbarWidth() + "px";

    function getScrollbarWidth() {
        var outer = document.createElement("div");
        outer.style.visibility = "hidden";
        outer.style.width = "100px";
        outer.style.msOverflowStyle = "scrollbar"; // needed for WinJS apps

        document.body.appendChild(outer);

        var widthNoScroll = outer.offsetWidth;
        // force scrollbars
        outer.style.overflow = "scroll";

        // add innerdiv
        var inner = document.createElement("div");
        inner.style.width = "100%";
        outer.appendChild(inner);

        var widthWithScroll = inner.offsetWidth;

        // remove divs
        outer.parentNode.removeChild(outer);

        return widthNoScroll - widthWithScroll;
    }
</script>
{% block script %}
{% endblock %}

</body>

</html>
