<div class="modal-content">
    <div class="modal_header">
        Add new media to post
    </div>
    <div class="modal_content">
        <div class="modal_section">
            <div class="modal_section_content">
                <div class="media media--image">
                    <div class="media_preview">
                        <img src="images/2.jpeg">
                    </div>
                    <div class="form media_fields">
                        <label class="form_field form_field--caption media_field">
                            Add caption
                        </label>
                        <div class="button button--icon-strong media_field">
                            <span class="button_icon icon ic-location_primary"></span>
                            <span class="button_title">Add location</span>
                        </div>
                        <div class="button button--icon-strong media_field">
                            <span class="button_icon icon ic-tag_primary"></span>
                            <span class="button_title">Tag people</span>
                        </div>
                        <label class="form_field form_field--text media_field">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <span class="form_field_title">Show EXIF</span>
                        </label>
                    </div>
                </div>
                <div class="media media--video">
                    <div class="media_preview">
                        <img src="images/2.jpeg">
                    </div>
                    <div class="form media_fields">
                        <label class="form_field form_field--header media_field">
                            Add Video Header
                        </label>
                        <label class="form_field form_field--caption media_field">
                            It's also an episode of <span class="hashtag">#MountainSkiing</span> to watch (and rewatch) with trepidation. That's because the best parts of the source material for the show, George RR Martin's A Song of Ice and Fire epic, have now come and gone. All the stuff that turned Martin's readers into fanatics has been adapted.
                        </label>
                        <div class="button button--icon-strong media_field">
                            <span class="button_icon icon i-location-active"></span>
                            <span class="button_title">1600 Amphitheatre Parkway Mountain View, CA 94043</span>
                        </div>
                        <label class="media_field">
                            <div class="media_field_title">Tagged people</div>
                            <div class="media_field_content">
                                <a href="#" class="link">Little Ferrot</a>,
                                <a href="#" class="link">+Add</a>
                            </div>
                        </label>
                        <label class="form_field form_field--text media_field">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <span class="form_field_title">Show EXIF</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal_section modal_section--final">
            <div class="modal_section_content">
                <div class="button button--primary">Add to post</div>
            </div>
        </div>
    </div>
</div>