<div class="modal-content">
    <!--<div class="modal_header">
        Add images to poll
    </div>-->
    <div class="modal_content">
        <div class="modal_section modal_section--edit-post">
            <div class="modal_section_header">
                <a class="user_avatar" href="#">
                    <img src="images/default-portrait.jpg" alt="">
                </a>
                <div class="user_text">
                    post to <a class="link" href="#">my feed</a>
                </div>
            </div>
            <div class="modal_section_content">
                <div class="post">
                    {% include 'post--figure.twig' %}
                    <div class="post_content_item">
                        <p>
                            It's also an episode of <a class="hashtag">#MountainSkiing</a> to watch (and rewatch) with trepidation. That's because the best parts of the source material for the show, George RR Martin's A Song of Ice and Fire epic, have now come and gone. All the stuff that turned Martin's readers into fanatics has been adapted.
                        </p>
                        <div class="p">
                            That's because the best parts of the source material for the show, George RR Martin's A Song of Ice and Fire epic, have now come and gone. All the stuff that turned Martin's readers into fanatics has been adapted.
                        </div>
                    </div>
                </div>
                <div class="inline-list inline-list--icons">
                    <button class="inline-list_item button button--icon"><span class="button_icon icon ic-emo_primary"></span></button>
                    <button class="inline-list_item button button--icon"><span class="button_icon icon ic-profile_primary"></span></button>
                    <button class="inline-list_item button button--icon"><span class="button_icon icon ic-hash_primary"></span></button>
                </div>
            </div>
            <div class="modal_section_options">
                <div class="modal_section_option"><button class="button button--icon-round"><span class="button_icon icon ic-photo_primary"></span></button></div>
                <div class="modal_section_option"><button class="button button--icon-round"><span class="button_icon icon ic-video_primary"></span></button></div>
                <div class="modal_section_option"><button class="button button--icon-round"><span class="button_icon icon ic-location_primary"></span></button></div>
                <div class="modal_section_option"><button class="button button--icon-round"><span class="button_icon icon ic-list_primary"></span></button></div>
                <div class="modal_section_option">
                    <button class="button button--round button--positive button--disable" tooltip-bind="post-warning">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>