<div class="modal-content">
    <div class="modal_header">
        Add images to poll
    </div>
    <div class="modal_content">
        <div class="modal_section">
            <div class="modal_section_header">
                Select images
            </div>
            <div class="modal_section_content">
                <div class="block-grid block-grid--count-4 select-waiting">
                    <div class="form block-grid_col">
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/1.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/2.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/1.jpeg">
                        </label>
                    </div>
                    <div class="block-grid_col">
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/2.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/2.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/1.jpeg">
                        </label>
                    </div>
                    <div class="block-grid_col">
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/2.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/2.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/2.jpeg">
                        </label>
                    </div>
                    <div class="block-grid_col">
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/1.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/1.jpeg">
                        </label>
                        <label class="form_field form_field--image block-grid_block">
                            <input type="checkbox" class="input-replaceable"/><span></span>
                            <img src="images/1.jpeg">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal_section modal_section--final">
            <div class="modal_section_content">
                <div class="button button--primary">Add to poll</div>
            </div>
        </div>
    </div>
</div>