<div class="modal">
    <div class="modal-dialog">
        {% include 'modal--edit-post.twig' %}<br>
        {% include 'modal--add-media.twig' %}<br>
        {% include 'modal--add-images-to-poll.twig' %}
    </div>
    <div class="tooltip tooltip--warning" tooltip="post-warning" tooltip-style="left">
        <div class="tooltip_arrow"></div>
        Your post seems a bit too long. How about convert it to <a class="link" href="#">blog post</a><br>
        <span class="error-text">- <strong>6</strong> characters left</span>
    </div>
</div>








