{% extends "html.twig" %}

{# -------------variables------------- #}
{% set title = 'newsfeed' %}

{% block modal %}
    {% include 'modal-list.twig' %}
{% endblock %}

{% block content %}
    <div class="button button--round fixed-rb" id="create-button">create</div>
    {% include 'feed.twig' %}
{% endblock %}

{% block script %}
<script>
    $(window).load(function(){
        setTimeout(function(){
            $("#create-button").click();
            $('[tooltip-bind]').each(function() {
                var $target = $(this);
                var $tooltip = $('[tooltip="' + $target.attr('tooltip-bind') + '"]');

                var $arrow = $tooltip.find(".tooltip_arrow");

                var tooltipWidth = $tooltip.outerWidth();
                var tooltipHeight = $tooltip.outerHeight();
                var targetTop = $target.offset().top;
                var targetLeft = $target.offset().left;
                var targetWidth = $target.outerWidth();
                var targetHeight = $target.outerHeight();

                var arrowWidth;
                var arrowHeight;
                var tooltipTopResult;
                var tooltipLeftResult;
                var arrowTopResult;
                var arrowLeftResult;

                var tooltipStyle = "left";

                switch (tooltipStyle) {
                    case "left": {
                        arrowWidth = parseInt($arrow.css("width"));
                        arrowHeight = parseInt($arrow.css("height"));

                        console.log(tooltipHeight);

                        tooltipLeftResult = targetLeft - tooltipWidth - arrowWidth;
                        $tooltip.addClass("tooltip--left");

                        tooltipTopResult = targetTop + targetHeight/2 - tooltipHeight/2;
                        arrowTopResult = tooltipHeight/2 - arrowHeight/2;
                    }
                }

                $tooltip
                        .css("top", tooltipTopResult + "px")
                        .css("left", tooltipLeftResult + "px");

                $arrow.css("top", arrowTopResult);
            });
        }, 0);
    });
</script>
{% endblock %}