{% extends "page-newsfeed.twig" %}

{# -------------variables------------- #}
{% set title = 'single image' %}

{% block modal %}
    {% include 'modal-list.twig' %}
{% endblock %}

{% block content %}
    {% embed 'feed.twig' %}
        {% block content %}
            <li class="feed_item post">{% include 'post--figure.twig' %}</li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block script %}
{% endblock %}