{% extends "./post.twig" %}

{% block content %}
<div class="post_content_item poll poll--type-text">
    <div class="poll_content">
        <div class="poll_subject">Who is top ranked team in golf?</div>
        <form action="" class="form poll_variants">
            <div class="form_field form_field--text poll_variant">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p1"><span></span>
                    <span class="form_field_title poll_variant_name">Florida Institute of Technology</span>
                </label>
            </div>
            <divi class="form_field form_field--text poll_variant">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p1"><span></span>
                    <span class="form_field_title poll_variant_name">Nebraska - Kearney</span>
                </label>
            </divi>
            <div class="form_field form_field--text poll_variant">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p1"><span></span>
                    <span class="form_field_title poll_variant_name">Queens University of Charlotte</span>
                </label>
            </div>
        </form>
        <div class="poll_footer">
            <div class="inline-list">
                <div class="inline-list_item"><div class="light-text small-text">12 983 total votes</div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}