{% extends "post.twig" %}

{% block content %}
    <div class="post_content_item mosaic mosaic--count-6">
        <a class="mosaic_item" href="#"><img class="mosaic_item_content" src="images/2.jpeg"></a>
        <a class="mosaic_item" href="#"><img class="mosaic_item_content" src="images/2.jpeg"></a>
        <a class="mosaic_item" href="#"><img class="mosaic_item_content" src="images/2.jpeg"></a>
        <a class="mosaic_item" href="#"><img class="mosaic_item_content" src="images/2.jpeg"></a>
        <a class="mosaic_item" href="#"><img class="mosaic_item_content" src="images/2.jpeg"></a>
        <a class="mosaic_item" href="#"><img class="mosaic_item_content" src="images/2.jpeg"></a>
    </div>
    <div class="post_content_item">
        <p>
            It's also an episode of <a class="hashtag">#MountainSkiing</a> to watch (and rewatch) with trepidation. That's because the best parts of the source material for the show, George RR Martin's A Song of Ice and Fire epic, have now come and gone. All the stuff that turned Martin's readers into fanatics has been adapted.
        </p>
        <div class="p">
            That's because the best parts of the source material for the show, George RR Martin's A Song of Ice and Fire epic, have now come and gone. All the stuff that turned Martin's readers into fanatics has been adapted.
        </div>
    </div>
{% endblock %}