{% if postWrap == true %}
<div class="post_header">
    <div class="user">
        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
        <!--<a class="user_name" href="#">Little Ferrot</a>-->
        <div class="user_text"><a class="link" href="#">Little Ferrot’s</a> feed was updated by <a class="link" href="#">Mark Chelsea</a></div>
    </div>
    <div class="post_options tooltip-block">
        <button class="tooltip-block_header button button--options"><span class="button_icon"></span></button>
        <div class="tooltip-block_tooltip tooltip tooltip--below tooltip--closed">
            <div class="tooltip_arrow"></div>
            <ul class="menu">
                <li class="menu_item">
                    Save images to collection
                </li>
                <li class="menu_item">
                    Hide this
                </li>
                <li class="menu_item">
                    Hide polls from <br>Mark Chelsea
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}


<div class="post_content">
    {% block content %}
    {% endblock %}
</div>

{% if postWrap == true %}
<div class="post_footer inline-list">
    <div class="tooltip-block inline-list_item">
        <button class="tooltip-block_header button button--like">
            <span class="button_icon"></span><span class="button_strong">334</span>
        </button>
        <div class="tooltip-block_tooltip tooltip tooltip--below tooltip--closed">
            <div class="tooltip_arrow"></div>
            <ul class="menu">
                <li class="menu_item">
                    Save images to collection
                </li>
                <li class="menu_item">
                    Hide this
                </li>
                <li class="menu_item">
                    Hide polls from <br>Mark Chelsea
                </li>
            </ul>
        </div>
    </div>
    <div class="tooltip-block inline-list_item">
        <div class="tooltip-block_header user-bundle">
            <div class="user-bundle_header">+12</div>
            <ul class="user-bundle_content">
                <li class="user-bundle_item user">
                    <div class="user_avatar"><img src="images/default-portrait.jpg" alt=""></div>
                </li>
                <li class="user-bundle_item user">
                    <div class="user_avatar"><img src="images/default-portrait.jpg" alt=""></div>
                </li>
                <li class="user-bundle_item user">
                    <div class="user_avatar"><img src="images/default-portrait.jpg" alt=""></div>
                </li>
            </ul>
        </div>
        <div class="tooltip-block_tooltip tooltip tooltip--below tooltip--closed">
            <div class="tooltip_arrow"></div>
            <ul class="menu">
                <li class="menu_item">
                    Save images to collection
                </li>
                <li class="menu_item">
                    Hide this
                </li>
                <li class="menu_item">
                    Hide polls from <br>Mark Chelsea
                </li>
            </ul>
        </div>
    </div>
    <div class="tooltip-block inline-list_item">
        <button class="tooltip-block_header button button--comments"><span class="button_icon"></span><span class="button_strong">12</span> comments</button>
        <div class="tooltip-block_tooltip tooltip tooltip--below tooltip--closed">
            <div class="tooltip_arrow"></div>
            <ul class="menu">
                <li class="menu_item">
                    Save images to collection
                </li>
                <li class="menu_item">
                    Hide this
                </li>
                <li class="menu_item">
                    Hide polls from <br>Mark Chelsea
                </li>
            </ul>
        </div>
    </div>
    <div class="tooltip-block inline-list_item">
        <button class="tooltip-block_header button button--share"><span class="button_icon"></span><span class="button_strong">9</span> shares</button>
        <div class="tooltip-block_tooltip tooltip tooltip--below tooltip--closed">
            <div class="tooltip_arrow"></div>
            <div class="user-list">
                <div class="user-list_header">
                    <div class="light-text">12 People shared</div>
                </div>
                <ul class="user-list_content">
                    <li class="user-list_item user user--online">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user user--online">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user user--online">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user user--online">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user user--online">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                    <li class="user-list_item user user--online">
                        <a class="user_avatar" href="#"><img src="images/default-portrait.jpg" alt=""></a>
                    </li>
                </ul>
                <div class="user-list_footer">
                    <a href="#" class="link">View all</a>
                </div>
            </div>
        </div>
    </div>
    <button class="button button--read-later inline-list_item"><span class="button_icon"></span>Read Later</button>
</div>
{% endif %}