{% extends "./post.twig" %}

{% block content %}
<div class="post_content_item poll poll--type-image">
    <div class="poll_header">
        Who is top ranked team in golf?
    </div>
    <div class="poll_content">
        <img src="images/2.jpeg" class="poll_subject"/>
        <form action="" class="form poll_variants">
            <div class="form_field form_field--like poll_variant">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p4"/><span></span>
                </label>
            </div>
            <div class="form_field form_field--dislike poll_variant poll_variant--active">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p4"/><span></span>
                </label>
            </div>
        </form>
        <div class="poll_footer">
            <div class="inline-list">
                <div class="inline-list_item"><div class="light-text small-text">12 983 total votes</div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}