{% extends "./post.twig" %}

{% block content %}
<div class="post_content_item poll poll--type-text poll--results">
    <div class="poll_header">
        <div class="poll_subject">Who is top ranked team in golf?</div>
    </div>
    <form action="" class="poll_content">
        <div class="poll_variant" result="10">
            <label class="poll_variant_content">
                <input type="radio" class="input-replaceable" name="p2"/><span></span>
                <span class="poll_variant_name">Florida Institute of Technology</span>
                <span class="poll_variant_result"></span>
            </label>
            <span class="poll_variant_result-line"></span>
        </div>
        <div class="poll_variant poll_variant--active" result="30">
            <label class="poll_variant_content">
                <input type="radio" class="input-replaceable" name="p2"/><span></span>
                <span class="poll_variant_name">Nebraska - Kearney</span>
                <span class="poll_variant_result"></span>
            </label>
            <span class="poll_variant_result-line"></span>
        </div>
        <div class="poll_variant poll_variant--winner" result="60">
            <label class="poll_variant_content">
                <input type="radio" class="input-replaceable" name="p2"/><span></span>
                <span class="poll_variant_name">Queens University of Charlotte</span>
                <span class="poll_variant_result"></span>
            </label>
            <span class="poll_variant_result-line"></span>
        </div>
    </form>
    <div class="poll_footer">
        <div class="inline-list">
            <div class="inline-list_item"><div class="light-text small-text">12 983 total votes</div></div>
            <div class="inline-list_item">
                <a class="link small-text inline-list_item" href="#">Revote</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}