{% extends "./post.twig" %}

{% block content %}
<div class="post_content_item poll poll--type-image poll--results">
    <div class="poll_header">
        Who is top ranked team in golf?
    </div>
    <div class="poll_content">
        <img src="images/2.jpeg" class="poll_subject"/>
        <div class="poll_variants">
            <div class="poll_variant" result="40">
                <div class="poll_variant_content">
                    <span class="poll_variant_result"></span>
                </div>
                <span class="poll_variant_result-line"></span>
            </div>
            <div class="poll_variant poll_variant--active" result="60">
                <div class="poll_variant_content">
                    <span class="poll_variant_result"></span>
                </div>
                <span class="poll_variant_result-line"></span>
            </div>
        </div>
        <div class="poll_footer">
            <div class="inline-list">
                <div class="inline-list_item"><div class="light-text small-text">12 983 total votes</div></div>
                <div class="inline-list_item">
                    <a class="link small-text inline-list_item" href="#">Revote</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}