{% extends "./post.twig" %}

{% block content %}
<div class="post_content_item poll poll--type-blocks poll--count-gt2">
    <div class="poll_content">
        <div class="poll_subject">Who is top ranked team in golf?</div>
        <form action="" class="form poll_variants">
            <div class="form_field form_field--image poll_variant">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p3"/><span></span>
                    <img src="images/default-portrait.jpg" alt="">
                </label>
            </div>
            <div class="form_field form_field--image poll_variant poll_variant--active">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p3"/><span></span>
                    <img src="images/default-portrait.jpg" alt="">
                </label>
            </div>
            <div class="form_field form_field--image poll_variant">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p3"/><span></span>
                    <img src="images/default-portrait.jpg" alt="">
                </label>
            </div>
            <div class="form_field form_field--image poll_variant">
                <label class="poll_variant_content">
                    <input type="radio" class="input-replaceable" name="p3"/><span></span>
                    <img src="images/default-portrait.jpg" alt="">
                </label>
            </div>
        </form>
        <div class="poll_footer">
            <div class="inline-list">
                <div class="inline-list_item"><div class="light-text small-text">12 983 total votes</div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}