{% extends "post.twig" %}

{% block content %}
    <figure class="post_content_item figure">
        <a class="figure_image blocklink" href="#"><img src="images/2.jpeg"></a>
        <div class="figure_caption">
            It's also an episode of #MountainSkiing to watch (and rewatch) with trepidation. That's because the best parts of the source material for the show, George RR Martin's A Song of Ice and Fire epic, have now come and gone. All the stuff that turned Martin's readers into fanatics has been adapted.
        </div>
    </figure>
{% endblock %}