@mixin placeholder {
  ::-webkit-input-placeholder { /* WebKit browsers */
    @content
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @content
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    @content
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    @content
  }
}

//media mixins
@mixin phone {
  @media screen and (max-width: $max-phone) {
    @content
  }
}

@mixin tablet {
  @media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @content
  }
}

@mixin desktop {
  @media screen and (min-width: $min-desktop) {
    @content
  }
  //ie8 и ниже не воспринимают media queries, поэтому дублирует контент для этих браузеров
  //sass просто игнорирует амперсанд, если нет родителя
  .lt-ie9 & {
    @content
  }
}

@mixin tablet-desktop {
  @media screen and (min-width: $min-tablet) {
    @content
  }
  //ie8 и ниже не воспринимают media queries, поэтому дублирует контент для этих браузеров
  //sass просто игнорирует амперсанд, если нет родителя
  .lt-ie9 & {
    @content
  }
}

@mixin phone-tablet {
  @media screen and (min-width: $min-phone) and (max-width: $max-tablet) {
    @content
  }
}
