@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-black-webfont.eot');
  src: url('../../fonts/proximanova-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-black-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-black-webfont.woff') format('woff'),
  url('../../fonts/proximanova-black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-bold-webfont.eot');
  src: url('../../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../../fonts/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-boldit-webfont.eot');
  src: url('../../fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-boldit-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-boldit-webfont.woff') format('woff'),
  url('../../fonts/proximanova-boldit-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-light-webfont.eot');
  src: url('../../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-light-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-light-webfont.woff') format('woff'),
  url('../../fonts/proximanova-light-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-lightit-webfont.eot');
  src: url('../../fonts/proximanova-lightit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-lightit-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-lightit-webfont.woff') format('woff'),
  url('../../fonts/proximanova-lightit-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-reg-webfont.eot');
  src: url('../../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-reg-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-reg-webfont.woff') format('woff'),
  url('../../fonts/proximanova-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-regit-webfont.eot');
  src: url('../../fonts/proximanova-regit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-regit-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-regit-webfont.woff') format('woff'),
  url('../../fonts/proximanova-regit-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../../fonts/proximanova-xbold-webfont.eot');
  src: url('../../fonts/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/proximanova-xbold-webfont.woff2') format('woff2'),
  url('../../fonts/proximanova-xbold-webfont.woff') format('woff'),
  url('../../fonts/proximanova-xbold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
