$columns: 24;

%grid {
  float: left;
}

@mixin grid {
  @for $i from $columns - 1 through 1 {
    %grid-w#{$i} {
      width: percentage($i/$columns);
      @extend .grid;
    }
    %grid-c#{$i} {
      margin-left: percentage($i/$columns);
    }
    @for $j from $i - 1 through 1 {
      %grid-w#{$i} %grid-w#{$j}{
        width: percentage($j/$i);
        @extend .grid;
      }
      %grid-c#{$i} %grid-c#{$j}{
        margin-left: percentage($j/$i);
      }
    }
  }
}

@include grid;