.debug {
  $width : 1px;
  $style : solid;
  outline: $width $style #ff0000;
  * {
    outline: $width $style orange;
    * {
      outline: $width $style #ffff00;
      * {
        outline: $width $style #00b500;
        * {
          outline: $width $style #00dada;
          * {
            outline: $width $style #0000ff;
            * {
              outline: $width $style palevioletred;
            }
          }
        }
      }
    }
  }
}

.clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full-width {
  width: 100%;
  height: auto;
}

.vertical-align-middle {
  > * {
    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}