//breakpoints
$min-desktop:                 1024px;
$min-tablet:                  768px;
$max-tablet:                  $min-desktop - 1;
$max-phone:                   $min-tablet - 1;
$min-phone:                   0px;


$app-minWidth-desktop:        950px;
$app-maxWidth-desktop:        950px;

$mosaic-item-offset:          6px;

$image-input-offset-y:        10px;
$image-input-offset-x:        10px;

$font-size-basic:             14px;
$line-height-basic:           1.4em;

//colors
//$color-primary:               #5e4f68;
//$color-primary-hover:         #5e4f68;
//
//$color-accent:                #5e4f68;
//$color-error:                 #ff4967;

