@import "compass/utilities/sprites";

$icons: sprite-map("icons/*.png", $layout: smart);
$icons-2x: sprite-map("icons-2x/*.png", $layout: smart);

%sprite {
  background-image: sprite-url($icons);
}

%sprite-2x {
  background-image: sprite-url($icons-2x);
}

%pseudo-icon-parent {
  position: relative;
}

%pseudo-icon {
  content: '';
}



@mixin use-sprite($sprite, $full: true) {

  background-position: sprite-position($icons, $sprite);
  @if $full {
    @extend %sprite;
    background-repeat: no-repeat;
    height: image-height(sprite-file($icons, $sprite));
    width: image-width(sprite-file($icons, $sprite));
  }

  //@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
  //    @extend %sprite-2x;
  //    background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
  //    background-position: round(nth(sprite-position($icons-2x, $sprite), 1) / 2) round(nth(sprite-position($icons-2x, $sprite), 2) / 2);
  //    @if $full {
  //      height: image-height(sprite-file($icons-2x, $sprite)) / 2;
  //      width: image-width(sprite-file($icons-2x, $sprite)) / 2;
  //    }
  //}
}

//присоединяет к родительскому элементу иконку в качестве псевдоэлемента
//иконка берется из спрайта. Иконки для спрайта должны лежать в папке icons
@mixin icon($icon, $pseudo: false, $full: true){
  @if $pseudo {
    @if $full { @extend %pseudo-icon-parent; }
    &:#{$pseudo} {
      @if $full { @extend %pseudo-icon; }
      @include use-sprite($icon, $full);
      @content;
    }
  } @else {
    @include use-sprite($icon, $full);
    @content;
  }
}

//миксин для использования спрайтов в media queries
@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {

  //http://compass-style.org/reference/compass/helpers/sprites/#sprite-file
  $sprite-image: sprite-file($map, $sprite);

  // http://compass-style.org/reference/compass/helpers/sprites/#sprite-url
  $sprite-map: sprite-url($map);

  // http://compass-style.org/reference/compass/helpers/sprites/#sprite-position
  $sprite-position: sprite-position($map, $sprite);

  // Returns background
  background: $sprite-map $sprite-position $repeat;

  // http://compass-style.org/reference/compass/helpers/image-dimensions/
  // Checks to see if the user wants height returned
  @if $height == true {
    // Gets the height of the sprite-image
    $sprite-height: image-height($sprite-image);
    // Returns the height
    height: $sprite-height; }

  // http://compass-style.org/reference/compass/helpers/image-dimensions/
  // Checks to see if the user wants height returned
  @if $width == true {
    // Gets the width of the sprite-image
    $sprite-width: image-width($sprite-image);
    // Returns the width
    width: $sprite-width; }
}
