.wrap:not(.wrap-content) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.wrap > *
{
  padding-left: 0px;
  padding-right: 0px;
}

.wrap-reset
{
  max-width: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.wrap-explicit > *:not(.wrapped) {
  @extend .wrap-reset;
}

@mixin wrap($wrap) {
  #{$wrap} {
    @extend .wrap;
  }
  #{$wrap} > #{$wrap} {
     @extend .wrap-reset;
  }
  #{$wrap} > * {
     @content;
  }
}

