@charset "UTF-8";
@import "fonts";
@import "normalize";
@import "reset";
@import "parameters";
@import "basic";
@import "helpers";
@import "wrap";
@import "grid";
@import "../icons/svg/_/icons.svg";

#create-button {
  .modal-open &{
    display: none;
  }
}

//>basic
body, html {
  height: 100%;
  font: {
    family: proxima_nova;
    size: $font-size-basic;
  }
  color: #444444;
  line-height: $line-height-basic;
}

@include wrap(".wrap-all") {
  margin: {
    left: auto;
    right: auto;
  }
  min-width: $app-minWidth-desktop;
  max-width: $app-maxWidth-desktop;
}

//>form
.form {

}
.form_field {
  display: block;
  cursor: pointer;
  position: relative;
  label {
    display: block;
    cursor: pointer;
  }
  .input-replaceable {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    + span {
      box-sizing: border-box;
      display: inline-block;
      position: absolute;
    }
  }
  input[type="text"] {
    border: none;
    outline: none;
  }
}
.form_field--like, .form_field--dislike {
  .input-replaceable {
    + span {
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      background: rgba(41, 36, 45, 0.6);
      background-clip: padding-box !important;
      width: 31px;
      height: 31px;
      top: $image-input-offset-y;
      left: $image-input-offset-x;
      &:before {
        @extend .icon-pseudo;
        display: block;
        position: absolute;
      }
    }
  }
}
.form_field--like {
  .input-replaceable {
    + span {
      &:before {
        @include i-like_green;
        top: 9px;
        left: 7px;
      }
    }
    &:checked + span {
      background-color: #20B2AA;
      &:before {
        @include i-like_white;
      }
    }
  }
}
.form_field--dislike {
  .input-replaceable {
    + span {
      &:before {
        @include i-dislike_red;
        top: 10px;
        left: 7px;
      }
    }
    &:checked + span {
      background-color: #ff4967;
      &:before {
        @include i-dislike_white;
      }
    }
  }
}
.form_field--text {
  .input-replaceable[type="radio"] {
    + span {
      width: 21px;
      height: 21px;
      top: -2px;
      left: 0;
      border-radius: 50%;
      background: #e4e2ed;
      ~ .form_field_title {
        margin-left: 30px;
      }
    }
    &:checked + span {
      border: 6px solid #8781bd;
      background: transparent;
    }
  }
  .input-replaceable[type="checkbox"] {
    + span {
      width: 17px;
      height: 17px;
      left: 0;
      border-radius: 2px;
      background: #e4e2ed;
      ~ .form_field_title {
        margin-left: 23px;
      }
      &:before {
        transition: opacity 0.2s;
        @include i-check_white(11/12);
        @extend .icon-pseudo;
        display: block;
        position: absolute;
        top: 4px;
        left: 3px;
        opacity: 0;
      }
    }
    &:checked + span {
      transition: background 0.2s;
      background: #8781bd;
      &:before {
        opacity: 1;
      }
    }
  }
  &:hover {
    .input-replaceable[type="radio"] {
      + span {
        background: #cfcde5;
      }
      &:checked + span {
        background: transparent;
      }
    }
    .input-replaceable[type="checkbox"] {
      + span {
        background: #cfcde5;
      }
      &:checked + span {
        transition: none !important;
        background: #aaa6cf;
      }
    }
  }
}
.form_field--switch {

}
.form_field--image {
  .input-replaceable {
    + span {
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      background: rgba(41, 36, 45, 0.6);
      background-clip: padding-box !important;
      width: 31px;
      height: 31px;
      top: $image-input-offset-y;
      left: $image-input-offset-x;
      &:before {
        @include i-check-big_white;
        @extend .icon-pseudo;
        display: block;
        position: absolute;
        top: 8px;
        left: 6px;
        opacity: 0.3;
      }
    }
    &:checked + span {
      &:before {
        @include i-check-big_green;
        opacity: 1;
      }
    }
  }
  &:hover {
    .input-replaceable {
      + span {
        &:before {
          opacity: 1;
        }
      }
      &:checked + span {

      }
    }
  }
}
.form_field--header {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-size: 18px;
  margin-top: 15px !important; 
  margin-bottom: 10px !important;
}
.form_field--caption {
  @extend .caption-text;
}

p {
  margin: 0.8em 0;
}

strong {
  font-weight: bold;
}

.strong {
  @extend strong;
}

.p {
  @extend p;
}

.fixed-rb {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.negative {

}

.primary-header {
  background: #382f3e;
  @extend .negative;
}

.secondary-header {
  background: #5e4f68;
  @extend .negative;
}

.light-text {
  font-weight: 100;
  line-height: $line-height-basic;
  color: #b8b8b8;
}

.dark-text {
  font-weight: normal;
  color: #222;
}

.small-text {
  font-size: #{(13/14)}em;
}

.caption-text {
  color: #999999;
  font-family: 'PT Serif', serif;
  font-style: italic;
}



.link {
  font-weight: bold;
  color: #5e4f68;
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid #dedce0;
  cursor: pointer;
  transition: border-color 0.1s;
  &:hover {
    border-color: #5e4f68;
  }
}


.blocklink {
  display: block;
  cursor: pointer;
  line-height: 0;
  font-size: 0;
  text-decoration: none;
  img {
    width: 100%;
  }
}

.hashtag {
  @extend .link;
}


//>inline-list
.inline-list_item {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}
.inline-list--icons {
  .inline-list_item {
    margin-right: 5px;
  }
}
.inline-list--icons {
  .inline-list_item {
    margin-right: 4px;
  }
  .icon {
    margin-right: 0;
  }
}
//<inline-list

//>vertical-list
.vertical-list_item {
  display:table !important;
  margin: auto;
}
//<vertical-list

.error-text {
  color: red;
}
//<basic

//>regions
#wrap {
  @extend .wrap-all;
}

#region-content {
  @extend %grid-w15;
  @extend %grid-c2;
}

#region-content-left {
  @extend %grid-w11;
  float: left;
}
#region-content-right {
  @extend %grid-w11;
  @extend %grid-c2;
  float: left;
}
//<regions



.mosaic {
  margin: 0 -$mosaic-item-offset/2;
  @extend .clearfix;

  &_item {
    display: block;
    text-decoration: none;
    float: left;
    box-sizing: border-box;
    padding: $mosaic-item-offset/2;
    &_content {
      width: 100%;
      box-sizing: border-box;
      display: block;
      text-align: center;
      padding: 40px 20px;
      background: grey;
    }
    //TODO: @at-root
    img.mosaic_item_content {
      padding: initial;
    }
  }
  &--count-2 &_item {
    width: 50%;
  }
  &--count-3 &_item {
    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(2), &:nth-child(3) {
      width: 50%;
    }
  }
  &--count-4 &_item {
    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      width: percentage(1/3);
    }
  }
  &--count-5 &_item {
    &:nth-child(1), &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      width: percentage(1/3);
    }
  }
  &--count-6 &_item {
    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(2), &:nth-child(3) {
      width: 50%;
    }
    &:nth-child(4), &:nth-child(5), &:nth-child(6) {
      width: percentage(1/3);
    }
  }
  &--count-7 &_item {
    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(5){
      clear: left;
    }
    &:nth-child(2), &:nth-child(3), &:nth-child(4),
    &:nth-child(5), &:nth-child(6), &:nth-child(7) {
      width: percentage(1/3);
    }
  }
  &--count-8 &_item {
    width: percentage(1/3);
    &:nth-child(3n + 1) {
      clear: left;
    }
  }
}

.user {
  font-size: 0;
}
.user_avatar, .user_name, .user_text {
  display: inline-block;
  vertical-align: middle;
  font-size: $font-size-basic;
}
.user_name, .user_text {
  display: inline;
}
.user_avatar {
  width: 27px;
  height: 27px;
  position: relative;
  border-radius: 50%;
  img {
    width: 100%;
    border-radius: 50%;
  }
  + * {
    margin-left: 0.5em;
  }
}
a.user_avatar {
  @extend .blocklink;
  display: inline-block;
}
.user_name {
  @extend .light-text;
}
//TODO: @at-root
a.user_name {
  @extend .link;
}
.user_text {
  @extend .light-text;
}
.user--online {
  .user_avatar {
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      background: #39b54a;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 2px solid #ffffff;
      right: -2px;
      bottom: -2px;
    }
  }
}

//>post
.post_header {
  margin-bottom: 20px;
  .user {
    display: inline-block;
  }
}
.post_content_item {
    margin-top: 20px;
    margin-bottom: 20px;
}
.post_footer {
  margin-top: 20px;
}
.post_actions_item {
  display: inline-block;
  margin-right: 1em;
}
.post_options {
  float: right;
  margin-top: 3px;
}

$user-bundle-shift: 8px;
.user-bundle {
  @extend .clearfix;
  @extend .button;
  @extend .button--icon-neutral;
  margin-left: $user-bundle-shift;
}
.user-bundle_item {
  float: right;
  margin-left: -$user-bundle-shift;
  .user_avatar {
    border: 2px solid #ffffff;
  }
}
.user-bundle_header {
  float: right;
  position: relative;
  top: 6px;
  margin-left: 5px;
}
.user-bundle_content {
  float: right;
}


.tooltip-block {
  position: relative;
}

.menu {
  margin: 10px 0;
  &_item {
    padding: 10px 20px;
    transition: background-color  0.1s, color 0.1s;
    cursor: pointer;
    color: #999999;
    &:hover {
      color: #5e4f68;
      background: #f1f0f6;
    }
  }
}

//>button
.button_icon {
  top: -1px;
  left: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 0.3em;
}
.button {
  @extend .light-text;
  cursor: pointer;
}
.button--active {
  .button_strong {
    @extend strong;
  }
}
button[disabled], .button--disable {
  pointer-events: none;
}
//нужно 2 набора иконок - нейтральные и активные
.button--icon-neutral {
  &:hover {
    color: #5e4f68;
    .button_icon {
      opacity: 0.7;
    }
  }
  &.button--active {
    &:hover {
      .button_icon {
        opacity: 1;
      }
    }
    .button_icon {
      opacity: 1;
    }
    .button_strong {
      color: #5e4f68;
    }
  }
  &:active, &:active .button_strong {
    color: #aea7b3 !important;
    .button_icon {
      opacity: 0.5 !important;
    }
  }
}
.button--comments {
  @extend .button--icon-neutral;
  .button_icon {
    @include i-comments_neutral;
    @extend .icon-pseudo;
  }
  //TODO
  &:hover,
  &.button--active,
  &:active {
    .button_icon {
      @include i-comments_primary;
      @extend .icon-pseudo;
    }
  }
}
.button--read-later {
  @extend .button--icon-neutral;
  .button_icon {
    @include i-read-later_neutral;
    @extend .icon-pseudo;
  }
  &:active, &:hover {
    .button_icon {
      @include i-read-later_primary;
      @extend .icon-pseudo;
    }
  }
  &.button--active,
  &.button--active:active,
  &.button--active:hover {
    .button_icon {
      @include i-read-later-active_primary;
      @extend .icon-pseudo;
    }
  }
}
.button--share {
  @extend .button--icon-neutral;
  .button_icon {
    @include i-share_neutral;
    @extend .icon-pseudo;
  }
  &:hover,
  &.button--active,
  &:active {
    .button_icon {
      @include i-share_primary;
    }
  }
}
.button--like {
  @extend .button--icon-neutral;
  font: {
    size: 18px;
    weight: 100;
  }
  .button_icon {
    @include i-like_neutral;
    @extend .icon-pseudo;
    position: relative;
    display: block;
    margin-bottom: 0px;
    left: 50%;
    margin-left: -7px;
  }
  &:hover, &.button--active, &:active {
    .button_icon {
      @include i-like_primary;
    }
  }
  &.button--active {
    .button_strong{
      font-weight: 100;
    }
  }
  .post_footer & {
    top: 2px;
    position: relative;
  }
}
.button--options {
  @extend .button--icon-neutral;
  .button_icon {
    @include i-ellipsis_neutral;
    @extend .icon-pseudo;
    margin-right: 0;
  }
  &:hover, &.button--active, &:active {
    .button_icon {
      @include i-ellipsis_primary;
    }
  }
}

//нужен 1 набор иконок - активные
.button--icon {
  .button_icon {
    opacity: 0.3;
    margin-right: 0;
  }
  &:hover {
    .button_icon {
      opacity: 0.5;
    }
  }
  &:active {
    .button_icon {
      opacity: 0.8;
    }
  }
  &.button--active {
    .button_icon {
      opacity: 0.8;
    }
  }
}

//нужен 1 набор иконок - активные
.button--icon-strong {
  .button_icon {
    opacity: 0.65;
    margin-right: 0;
    transition: opacity 0.1s;
  }
  &:hover {
    .button_icon {
      opacity: 0.7;
    }
  }
  &:active {
    .button_icon {
      opacity: 1 !important;
      transition: none;
    }
  }
  &.button--active {
    .button_icon {
      opacity: 0.9;
      transition: none;
    }
  }
  .button_title {
    font-weight: normal;
    color: #5e4f68;
    display: inline;
    text-decoration: none;
    transition: border-color 0.1s;
    display: inline;
    color: #5e4f68;
    border-bottom: 1px solid rgba(94, 79, 104, 0.2);
  }
  &:hover {
    .button_title {
      border-color: rgba(94, 79, 104, 0);
    }
  }  
}

.button--primary {
  text-align: center;
  color: #ffffff;
  background: #5e4f68;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 8px 20px;
  border-radius: 5px;
  &:hover {
    background-color: #7e7286;
  }
  &:active {
    background-color: #493e51;
  }
  &.button--active {
    //background-color: #493e51;
  }
}
.button--round {
  @extend .button--primary;
  width: 65px;
  height: 65px;
  line-height: 65px;
  padding: 0;
  border-radius: 50%;
  letter-spacing: 1px;
}

.button--positive {
  background: #25ccca;
  &:hover {
    background: #23bfc4;
  }
  &:active {
    background: #006281;
  }
  &[disabled], &.button--disable {
    background: #eaeaea;
    color: #C5C5C5;
  }
}


.button--icon-round {
  .button_icon {
    opacity: 0.6;
    position: relative;
    border-radius: 50%;
    background-color: #f1f0f6;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    margin-right: 0;
    &:after {
      position: relative;
      top: -1px;
    }
  }
  &:hover {
    .button_icon {
      background-color: #e8e6f0;
    }
  }
  &:active {
    .button_icon {
      background-color: #e4e2ed;
    }
  }

}
//<button

//>tooltip
.tooltip {
  text-align: left;
  position: absolute;
  background: #ffffff;
  z-index: 999;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.3);
}
.tooltip_content {
  margin: 14px;
}
.tooltip_arrow {
  $width: 10px;
  $foreground: #ffffff;
  $background: #888888;

  width: $width;
  height: $width*2;
  position: absolute;
  overflow: hidden;

  &:before {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border: {
      color: transparent;
      width: $width;
    }
  }
  &:after {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border: {
      color: transparent;
      width: $width - 1;
    }
  }

  .tooltip--right & {
    left: -$width;

    &:before {
      right: 100%;
      left: -$width;
      border: {
        style: solid solid outset;
        right: {
          color: $background;
        }
      }
    }
    &:after {
      right: 100%;
      left: -$width;
      margin: {
        top: 1px;
        left: 2px;
      }
      border: {
        style: solid solid outset;
        right: {
          color: $foreground;
        }
      }
    }
  }
  .tooltip--right.tooltip--warning & {
    &:before {
      border: {
        right: {
          color: #f0f1ec;
        }
      }
    }
    &:after {
      border: {
        right: {
          color: #faf7ee;
        }
      }
    }
  }

  .tooltip--left & {
    right: -$width;

    &:before {
      right: -$width;
      border: {
        style: outset solid solid;
        left: {
          color: $background;
        }
      }
    }
    &:after {
      right: -$width;
      border: {
        style: outset solid solid;
        left: {
          color: $foreground;
        }
      }
      margin: {
        top: 1px;
        right: 2px;
      }
    }
  }
  .tooltip--left.tooltip--warning & {
    &:before {
      border: {
        left: {
          color: #f0f1ec;
        }
      }
    }
    &:after {
      border: {
        left: {
          color: #faf7ee;
        }
      }
    }
  }

  .tooltip--below & {
    top: -$width;
    width: $width*2;
    height: $width;

    left: 50%;
    margin-left: -$width;

    &:before {
      top: -100%;
      border: {
        style: solid outset;
        bottom: {
          color: $background;
        };
      };
    }
    &:after {
      top: -100%;
      border: {
        style: solid outset;
        bottom: {
          color: $foreground;
        };
      };
      margin: {
        top: 2px;
        left: 1px;
      };
    }
  }
  .tooltip--below.tooltip--warning & {
    &:before {
      border: {
        bottom: {
          color: #f0f1ec;
        }
      }
    }
    &:after {
      border: {
        bottom: {
          color: #faf7ee;
        }
      }
    }
  }
}
.tooltip--below {
  $width: 200px;
  width: $width;
  position: absolute;
  left: -$width/2;
  margin-left: 50%;
  margin-top: 20px;
}
.tooltip--closed {
  display: none !important;
}
.tooltip--warning {
  position: absolute;
  top: 0;
  left: 0;
  background: #faf7ee;
  border-color: #f0f1ec;
  padding: 7px 13px;
  box-shadow: none;
  z-index: 99999;
}

.feed {
  &_item {
    position: relative;
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #eaeaea;
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
    padding-top: 20px;
    margin-bottom: 40px;
  }
}

.container {
  & > *:first-child {
    margin-top: 0 !important;
  }
  & > *:last-child {
    margin-bottom: 0 !important;
  }
}

.pair {
  @extend .clearfix;
  &_item {
    @extend .clearfix;
    @extend .container;
    float: left;
    width: 50%;
    box-sizing: border-box;
    &:first-child {
      padding-right: 15px;
    }
    &:last-child {
      padding-left: 15px;
    }
  }
}

//>user-list
.user-list {
  margin: 10px 0;
  text-align: center;
  &_header {
    margin-bottom: 10px;
  }
  &_content {
    display: inline-block;
    text-align: left;
    font-size: 0;
    width: 156px;
    left: 6px;
    position: relative;
  }
  &_item {
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 10px;
  }
  &_footer {
    margin-top: 5px;
  }
}

//>poll
.poll_content {
  position: relative;
}
.poll_variant {
  position: relative;
}
.poll_subject {
    @extend .light-text;
    font-size: 20px;
    margin-bottom: 20px;
}
.poll_header {
  @extend .poll_subject;
}
.poll_variant_result {
  @extend .dark-text;
  @extend .invisible;
  font-weight: bold;
  &:after {
    content: '%';
  }
}
.poll_variant_name {  
  max-width: 400px;
  #region-content-left &, #region-content-right & {
    max-width: 270px;
  }
}
.poll_variant_result-line {
  @extend .invisible;
  height: 8px;
  border-radius: 4px;
  background: #afa8b4;
  display: block;
  position: absolute;
  width: 100%;
  bottom: -10px;
}
.poll--results {
  .poll_variant_result-line,
  .poll_variant_result
  {
    @extend .visible;
  }
  label {
    cursor: default;
  }
  .input-replaceable,
  .input-replaceable + span {
    display: none;
  }
  .poll_variant--active {
    .poll_variant_name {
      &:before {
        @include i-check_primary;
        @extend .icon-pseudo;
        display: inline-block;
        position: relative;
        margin-right: 5px;
        opacity: 0.8;
      }
    }
  }
}
.poll--type-text.poll--results {
  label.poll_variant_content {
    padding-left: 0;
  }
}
.poll_variant--winner {
  .poll_variant_result-line  {
    background: #5e4f68;
  }
}
.poll--type-text {
  overflow: hidden;
  border: 1px solid #e4e2ed;
  padding: 30px 30px;
  box-sizing: border-box;
  width: 100%;

  .poll_variant_content {
    display: block;
    position: relative;
    min-width: 9999px;
  }

  .poll_variant_result {
    position: absolute;
    margin-left: 10px;
    right: 0;
    bottom: 0;
  }

  .poll_variant {
    display: block;
    position: relative;
    margin-bottom: 25px;
  }  
}
.poll--type-yes-no {
  @extend .poll--type-text;
  .poll_variant {
    &:first-child .poll_variant_result-line {
      background: #25ccca;
    }
    &:last-child .poll_variant_result-line {
      background: #ffb6c2;
    }
  }
}
.poll--type-blocks {

  .poll_variants {
    @extend .mosaic;
  }

  &.poll--count-2 {
    @extend .mosaic--count-2;
  }

  &.poll--count-gt2 {
    @extend .mosaic--count-8;
  }

  .poll_variant {
    @extend .mosaic_item;
    position: relative;
    margin-bottom: 40px;
  }

  .poll_variant_result {
    position: relative;
  }
  
  .poll_variant_result-line {
    bottom: -7px;
  }

  .poll_variant_content {
    @extend .mosaic_item_content;
    background: transparent;
    text-align: left;
    padding: 0;
    img {
      width: 100%;
    }
  } 

  .poll_variant--active {
    .poll_variant_name {
      &:before {
        display: none;
      }
    }
    .poll_variant_result {
      &:before {
        @include i-check_primary;
        @extend .icon-pseudo;
        display: inline-block;
        position: relative;
        margin-right: 5px;
        opacity: 0.8;
      }
    }
  }

  .poll_footer {
    clear: both;
  }
}
.poll--type-image {
  position: relative;
  img.poll_subject {
    width: 100%;
    margin-bottom: 12px;
  }
  .poll_variants {
    position: absolute;
    top: 0;
  }
  .poll_variant {
    position: absolute;
    top: 10px;
    &:first-child {
      left: 10px;
    }
    &:last-child {
      left: 45px;
    }
  }
}
.poll--type-image.poll--results {
  .poll_variants {
    position: relative;
    height: 30px;
  }
  .poll_variant {
    position: absolute;
    width: 100%;
    left: 0;
    &:first-child, &:last-child {
      &:before {
        content: '';
        display: block;
        position: absolute;
        background: transparent;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        top: -19px;
      }
    }
    &:first-child {
      z-index: 999;
      .poll_variant_result-line {
        background-color: #25ccca;
      }
      .poll_variant_result {
        padding-left: 20px;
      }
      &:before {
        left: 0;
      }
      &:after {
        @include i-like_green(9/12);
        @extend .icon-pseudo;
        display: block;
        position: absolute;
        top: -15px;
        left: 3px;
      }
    }
    &:last-child {
      .poll_variant_result-line {
        width: 100% !important;
        background-color: #ffdbe1;
      }
      .poll_variant_result {
        right: 0;
      }
      .poll_variant_result {
        padding-right: 20px;
      }
      &:before {
        right: 0;
      }
      &:after {
        @include i-dislike_red(9/12);
        @extend .icon-pseudo;
        display: block;
        position: absolute;
        top: -14px;
        right: 3px;
      }
    }
  }
  .poll_variant--active {
    &:first-child {
      &:before {
        background-color: #25ccca;
      }
      &:after {
        @include i-like_white;
      }
    }
    &:last-child {
      &:before {
        background-color: #ff4967;
      }
      &:after {
        @include i-dislike_white;
      }
    }
  }
  .poll_variant_result {
    position: absolute;
    top: -20px;
  }
}
.post .poll {
  margin: 30px 0 30px 0;
}

//>block-grid
.block-grid {
  @extend .clearfix;
  margin: -$mosaic-item-offset/2;
}
.block-grid_col {
  float: left;
}
.block-grid_block {
  width: 100%;
  display: block;
  padding: $mosaic-item-offset/2;
  box-sizing: border-box;
  position: relative;
  img {
    display: block;
    width: 100%;
  }
}
.block-grid--count-4 {
  .block-grid_col {
    width: 25%;
  }
}

//>modal
.modal-open {
  overflow: hidden;
}
.modal {
  @extend .wrap-reset;
  @extend .vertical-align-middle;
  width: auto !important;
  text-align: center;
  position: fixed;
  top: 0; right: -100px; bottom: 0; left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.61);
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  .modal-open & {
    display: block;
  }
}
.modal-dialog {
  display: none;
  margin: 100px 0;
  position: relative;
  text-align: left;
  .modal-open & {
    display: inline-block;
  }
}
.modal-content {
  @extend .clearfix;
  width: 700px;
  .user_avatar {
    border: 2px solid #000000;
  }
}
.modal_header {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.modal_content {
  background: #ffffff;
  float: left;
  width: 100%;
}
.modal_section_header {
  margin: 30px;
  font-weight: bold;
  color: #5e4f68;  
}
.modal_section_header, .modal_section_content:first-child {
  border-top: 1px solid #e9e9e9;
  padding-top: 20px;
}
.modal_section {
  &:first-child {    
    .modal_section_header {      
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 10px; 
    }
    .modal_section_header, .modal_section_content:first-child {
      border-top: none;
      padding-top: 0; 
    }
  }
}
.modal_section_content {
  margin: 30px;
}
.modal_section--edit-post {
  position: relative;
  .modal_section_header {
    margin: 0;
    padding: 13px 16px !important;
  }
  .modal_section_content {
    padding-right: 80px;
    padding-bottom: 5px;
  }
  .modal_section_options {
    width: 65px;
    position: absolute;
    right: 20px;
    bottom: -52px;
    @extend .vertical-list;
  }
  .modal_section_option {
    @extend .vertical-list_item;
    margin-bottom: 10px;
  }
}
.modal_section--final {
  text-align: center;
}

//>select-waiting
//скрывает значки чекбоксов и показывает их, когда один из них выбран
.select-waiting {
  .input-replaceable + span {
    transition: opacity 0.2s;
    opacity: 0;
  }
}
.select-waiting--done {
  .input-replaceable + span {
    opacity: 1;
  }
}
//<select-waiting

//>figure
.figure {

}
.figure_caption {
  @extend .caption-text;
  margin: 0 20px;
  padding: 20px 30px;
  border: 1px solid #e4e2ed;
  border-top-width: 0;
  margin-bottom: 30px;
}
//<figure

//>media
.media {
  @extend .clearfix;
  margin-bottom: 20px;
  font-size: 12px;
}
.media_preview {
  float: left;
  margin-right: 30px;
  width: 30%;
  img {
    width: 100%;
  }
}
.media_fields {
  overflow: hidden;
}
.media_field {
  margin-top: 10px;
  margin-bottom: 17px;
  display: block;
}
.media_field_title {
  @extend .light-text;
}
.media_field_content {
  font-size: 13px;
}


//%end



